<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="static/styles.css"/>
    </head>
    <body>
        <h1>CARILLON</h1>
        <h2>Drive with a piece of mind</h2>
        <img class="steering_wheel" src="static/steering_wheel.png"/>
        <div class="smartphone_wireframe">
            <p><b>Application mobile</b> capable via une caméra et du machine learning de détecter la <b>somnolence au volant</b>.
                Vous serez alerté grâce à un <b>signal sonore</b>.</p>
            <img class="smartphone_wireframe" src="static/smartphone_wireframe.png"/>
        </div>
    </body>

</html>