<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="static/styles.css"/>
    </head>
    <body>
        <div class="upper">
            <img class="logo" src="static/LogoCarillion.png">
            <div class="titles">
                <h1>Drive with peace of mind</h2>
                <h3>Don't put your life in danger on the road anymore</h3>
            </div>
        </div>
        <div class="middle">
            <div class="access">
                <div class="subtitle">
                    <h2>Accessibility</h2>
                    <img class="icon" src="/static/accessibility.png"/>
                </div>
                <h3 class="middle">Our goal is to make the roads safer by <span class="bold">reducing accidents</span>, that's why we want to make this technology free and <span class="bold">available to everyone</span>.</h3>
            </div>
            <div class="strength">
                <div class="subtitle">
                    <h2>Strength</h2>
                    <img class="icon" src="/static/strength.png"/>
                </div>
                <h3 class="middle">The strength of <span class="bold">Artificial Intelligence</span> to <span class="bold">alert</span> you in real time when you show signs of fatigue.</h3>
            </div>
            <div class="rigth">
                <div class="email">
                    <p>Interested in what we are doing ? Let your email to be notified about our news !</p>
                    <form action="/" method="POST">
                        <input class="email" type="text" name="email" placeholder="Enter your email">
                        <input class="submit" type="submit" value="OK">
                    </form>
                </div>
                <img class="store" src="/static/store.png"/>
                <h4>Soon available</h4>
            </div>
        </div>
        <div class="lower">
            <img src="/static/footer.png"/>
        </div>
    </body>

</html>