<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="static/styles.css"/>
    </head>
    <body>
        <div class="upper">
            <div class="titles">
                <h1>Carillion</h1>
                <h2>Drive with peace of mind</h2>
                <h3>Don't put your life in danger on the road anymore</h3>
            </div>
            <div class="email">
                <p>Thank you !</p>
            </div>
        </div>
        <div class="middle">
            <div class="access">
                <h2>Accessibility</h2>
                <p class="middle">Our goal is to make the roads safer by reducing accidents, that's why we want to make this technology free and available to everyone.</p>
            </div>
            <div class="alert">
                <h2>Alert</h2>
                <p class="middle">Thanks to machine learning, our application will alert you when you show signs of fatigue.</p>
            </div>
        </div>
        <div class="lower">

        </div>
    </body>

</html>